{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chuột</title>
</head>
<body>
    {% include './header.html' %}
    <div class="featured-products">
        <div class="container">
            <h2>Chuột</h2>
            <div class="product-grid">
                {% for product in mou_products %}
                <div class="product-item">
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    <h3>{{ product.name }}</h3>
                    <p>Giá: {{ product.price|intcomma }} VNĐ</p>
                    <div class="product-info">
                        <a href="{% url 'product_detail' product.id %}" class="btn">Xem chi tiết</a>
                    </div>
                </div>
                {% empty %}
                <p>Không có sản phẩm nào.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>