{% load humanize %}
{% load static %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chi Tiết Sản Phẩm</title>
    <link rel="stylesheet" href="{% static 'css/product_detail.css' %}">
</head>

<body>
    {% include './header.html' %}
    <div class="product-container">
        <div class="product-image">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
        </div>
        <div class="product-details">
            <h2>{{ product.name }}</h2>
            <p>Giá: {{ product.price|intcomma }} VNĐ</p>
            <p>Thương hiệu: {{ product.brand }}</p>
            <p>Loại: {{ product.type }}</p>
            <p>Tồn kho: {{ product.stock }}</p>
            <div style="margin-top: 10px;">
                <a href="{% url 'add_to_cart'  product_id=product.id %}" class="button">Thêm vào giỏ hàng</a>
            </div>
        </div>
    </div>

    <div class="specs-container">
        <div class="specs">
            <h3>Mô tả sản phẩm</h3>
            Mô tả: {{ product.description }}
        </div>
    </div>

    <div class="related-products-container">
        <h3>Sản phẩm liên quan</h3>
        <div class="related-products-wrapper">
            {% for related_product in related_products %}
            <div class="related-product">
                <img src="{{ related_product.image.url }}" alt="{{ related_product.name }}">
                <p>{{ related_product.name }}</p>
                <p>{{ related_product.price|intcomma }} VNĐ</p>
                <a href="{% url 'product_detail' related_product.id %}" class="button">Xem chi tiết</a>
            </div>
            {% endfor %}
        </div>
    </div>
</body>

</html>